set relativenumber
set number
set incsearch

let mapleader = " "

" move lines in visual
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" join lines in normal
nnoremap J mzJ`z

" center on move
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv

" clipboard ops
xmap <leader>p [["_dP]]
nmap <leader>y ["+y]
vmap <leader>y ["+y]
nmap <leader>Y ["+Y]
nmap <leader>d [["_d]]
vmap <leader>d [["_d]]

" misc
imap <C-c> <Esc>

nnoremap Q <nop>
nnoremap <C-f> :silent !tmux neww tmux-sessionizer<CR>
nnoremap <leader>f :format<CR>
nnoremap <C-k> :cnext<CR>zz
nnoremap <C-j> :cprev<CR>zz
nnoremap <leader>k :lnext<CR>zz
nnoremap <leader>j :lprev<CR>zz

" search, replace, file ops
nnoremap <leader>s :%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>
nnoremap <leader>x :!chmod +x %<CR>

" IDE actions
map <C-K> <Action>(ShowHoverInfo)
map gi :action GotoImplementation<CR>

set visualbell
set noerrorbells
